body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-31xl: 50px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #194759;
  --color-black: #000;

  /* Border radiuses */
  --br-3xs: 10px;
}
