.frame-child {
  position: absolute;
  top: 0;
  left: 35px;
  width: 316px;
  height: 151px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.contact-us {
  margin: 0;
  position: absolute;
  top: 51px;
  left: calc(50% - 102px);
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 262px;
  height: 49px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.stay-connected-with {
  position: absolute;
  top: 122px;
  left: 845px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.frame-item {
  position: absolute;
  top: 50px;
  left: 38px;
  border-radius: var(--br-21xl);
  width: 580px;
  height: 668px;
  overflow: hidden;
}
.we-are-happy {
  margin: 0;
  position: absolute;
  top: 194px;
  left: 3px;
  font-size: 30px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 649px;
  -webkit-text-stroke: 1px #fff;
}
.college-email,
.registration-number {
  position: absolute;
  top: 343px;
  left: 692px;
}
.college-email {
  top: 245px;
}
.frame-inner,
.name,
.query {
  position: absolute;
  top: 156px;
  left: 693px;
}
.frame-inner,
.query {
  top: 433px;
}
.frame-inner {
  top: 568.5px;
  left: 809px;
  border-radius: var(--br-21xl);
  width: 331px;
  height: 81px;
}
.login {
  position: absolute;
  top: 592px;
  left: 943px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  -webkit-text-stroke: 1px #fff;
}
.frame-child1,
.frame-child2,
.frame-child3,
.line-div {
  position: absolute;
  top: 208.01px;
  left: 692.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 542px;
  height: 1px;
}
.frame-child1,
.frame-child2,
.frame-child3 {
  top: 299.01px;
}
.frame-child2,
.frame-child3 {
  top: 397.01px;
}
.frame-child3 {
  top: 487.01px;
}
.frame-parent {
  position: absolute;
  top: 173px;
  left: 267px;
  border-radius: 10px;
  background-color: var(--color-white);
  width: 1386px;
  height: 765px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-silver);
}
.rectangle-parent {
  position: relative;
  background-color: #a7f2e4;
  width: 100%;
  height: 997px;
  overflow: hidden;
  text-align: left;
  font-size: 48px;
  color: #194759;
  font-family: var(--font-inter);
}
