.frame-child {
  position: absolute;
  top: 27px;
  left: 35px;
  width: 316px;
  height: 151px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.about-us {
  margin: 0;
  position: absolute;
  top: 69px;
  left: calc(50% - 84px);
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.be-a-part {
  position: absolute;
  top: 155px;
  left: 807px;
  font-size: 24px;
  color: var(--color-black);
}
.frame-item {
  position: absolute;
  top: 50px;
  left: 38px;
  border-radius: 40px;
  width: 580px;
  height: 668px;
  overflow: hidden;
}
.welcome-to-campus {
  margin: 0;
  position: absolute;
  top: 194px;
  left: 3px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 649px;
  -webkit-text-stroke: 1px #fff;
}
.this-project-campus {
  font-weight: 600;
}
.this-project-campus-container {
  position: absolute;
  top: 120px;
  left: 693px;
  font-size: 25px;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 638px;
}
.frame-parent {
  position: absolute;
  top: 212px;
  left: 292px;
  border-radius: 10px;
  background-color: var(--color-white);
  width: 1386px;
  height: 765px;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
  color: var(--color-white);
}
.rectangle-parent {
  position: relative;
  background-color: #a7f2e4;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 48px;
  color: #194759;
  font-family: var(--font-inter);
}
