body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-league-spartan: "League Spartan";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-21xl: 40px;
  --font-size-26xl: 45px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-21xl: 40px;
}
